<a href="javascript:" id="return-to-top"><i class="fa fa-chevron-up"></i></a>
<% if @recommended.count == 0 %>
  <h5>Recommended Images</h6>
  <div class="card text-white bg-light">
    <div class="card-body">
      <p class="card-text">No recommended images to display.</p>
    </div>
  </div>
  <hr/>
<% else %>
  <h5>Recommended Images</h6>
  <div class="row text-center text-lg-left" id='images'>  
    <%= render @recommended %>
  </div>
  <hr/>
<% end %>