<a href="javascript:" id="return-to-top"><i class="fa fa-chevron-up"></i></a>
<% if Sneaker.where(approved: true).count == 0 %>
  <div class="card text-white bg-danger">
    <div class="card-body">
      <p class="card-text">Nobody bothered to add any images, you better fix this before you launch your site!</p>
    </div>
  </div>
<% else %>

  <div class="d-none d-xl-block d-lg-block d-md-block">
    <h6>Most Liked Images</h6>
    <div class="row text-center text-lg-left" id='sneakers'>
      <%= render @top_sneakers %>
    </div>
  </div>

  <div class="d-none d-xl-block d-lg-block d-md-block">
    <h6>Most Popular Tags</h6>
    <%= pie_chart Tag.group(:name).joins(:sneaker).where(:sneakers => {:approved => true}).limit(10).count.sort_by{|k, v| v}.reverse %>
  </div>

  <div class="d-none d-xl-block d-lg-block d-md-block">
    <h6>Most Active Users</h6>
    <%= bar_chart User.group(:username).joins(:sneakers).limit(10).count.sort_by{|k, v| v}.reverse %>
  </div>  

  <div class="d-xl-none d-lg-none d-md-none text-center">
    <div class="card text-white bg-secondary">
      <div class="card-body">
        <p class="card-text">Trends are not available on your device.</p>
      </div>
    </div>
  </div>
<% end %>
