<div class="row mb-4" id='event'>
    <%= render event.image %>
    <span>
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-user fa-stack-1x fa-inverse"></i>
      </span>
      <%= event.user.username %>
      <div class="text-muted">
        <%= event.created_at.to_formatted_s(:short) %>
      </div>
      <div class="my-auto text-dark">
        <%= event.message %>
      </div>
    </span>
</div>