<a href="javascript:" id="return-to-top"><i class="fa fa-chevron-up"></i></a>
<% if Sneaker.count == 0 %>
  <div class="card text-white bg-danger">
    <div class="card-body">
      <p class="card-text">Nobody bothered to add any sneakers, you better fix this before you launch your site!</p>
    </div>
  </div>
<% else %>
  <div class="text-center">
    <a href="/unapproved" class="badge badge-danger">Unapproved</a>
    <% @tags_distinct.each do |tag| %>
      <a href="/sneakers/tag/<%= tag.name %>" class="badge badge-secondary"><%= tag.name %></a>
    <% end %>
  </div>
<% end %>
