<div class="container">
    <form class="navbar-form navbar-left" action="#">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search" name="search">
        <div class="input-group-btn">
        &nbsp;
        <button class="btn btn-outline-secondary" type="submit">
            <i class="fa fa-search"></i>
        </button>
        </div>
    </div>
    </form>
</div>