<a href="javascript:" id="return-to-top"><i class="fa fa-chevron-up"></i></a>
<% if @images.count == 0 %>
  <div class="card text-white bg-danger">
    <div class="card-body">
      <p class="card-text">No images to display, upload an image to get started!</p>
    </div>
  </div>
<% else %>

  <% if user_signed_in? %>
    <%= render_async user_recommendations_path do %>
      <i class='fa fa-spinner fa-spin'></i> Loading Recommendations ...
    <% end %>
  <% end %>

  <div class="row text-center text-lg-left" id='images'>  
    <%= render @images %>
  </div>

  <%= will_paginate @images %>
<% end %>
